
.card-parent {
    position: relative;
    width: 30rem;
    height: 20rem;
}

.card-container {
    position: absolute;
    width: 30rem;
    min-height: 20rem;
    max-height: 20rem;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.22);
    transition: all 0.15s ease-out;
    overflow: hidden;
}

.card-container__clickable {
    cursor: pointer;
}

.card-container__clickable:hover {
    box-shadow: 0 1.5rem 2rem 0 rgba(0,0,0,0.42);
}

.card-container__expanded {
    max-height: 500rem;
    transition: all 0.15s ease-out;
    z-index: 1;
}
